@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


h1 {
    font-family: 'Shrikhand';
}

body,button {
    font-family: 'Roboto';
}


img {
    width: 100%;
}

:root {
    --vert-clair: #99E2D0;
    --vert-fonce: #008766;
    --bleu-clair: #89C8FA;
    --bleu-fonce: #003A68;
    --violet: #9356DC;
    --rose: #FF79DA;
    --background-footer: #353535;
}


/* * * PAGE PRINCIPALE * * */

/* Header */

.titre-ohmyfood-homepage {
    text-align: center;
}

.localisation {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
}

.fa-location-dot {
    padding-right: 20px;
}

.titre-reservez {
    display: flex;
    justify-content: end;
    text-align: center;
    width: 250px;
    padding-left: 70px;
}

.texte-decrivez {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    width: 80%;
    padding-left: 40px;
}

.background-header {
    background-color: #f7f7f7;
}

.display-bouton-explorer {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

.bouton-explorer {
    border-radius: 25px;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 50px;
    border-width: 0px;
}

/* Fonctionnement */

.titre-fonctionnement {
    padding-left: 20px;
}

.display-fonctionnement {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bouton-fonctionnement {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 70px;
    margin-left: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border-width: 0px;
    font-weight: 500;
    padding-top: 25px;
    background-color: #f7f7f7;
    position: relative;
}

.bouton-fonctionnement-rose {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 70px;
    margin-left: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border-width: 0px;
    font-weight: 500;
    padding-top: 25px;
    background-color: #F5EDFF;
    position: relative;
}


.chiffre {
    display: flex;
    justify-content: left;
    margin-left: -50px;
}

.padding-bouton {
    padding-bottom: 20px;
}

.fa-mobile-screen-button {
    margin-left: -20px;
    padding-right: 20px;
}

.fa-list {
    margin-left: -20px;
    padding-right: 20px;
}

.fa-store {
    margin-left: -20px;
    padding-right: 20px;
    color: var(--violet);
}

.nombre {
    position: absolute;
    top: 30%; 
    left: -10px;
    font-size: large;
    border-style: unset;
    border-radius: 70px;
    background-color: var(--violet);
    color: white;
}

.padding-nombre {
    padding-left: 7px;
    padding-right: 7px;
}




/* Restaurant */

.background-restaurant {
    background-color: #f7f7f7;
}

.padding-titre-restaurant {
    padding-left: 20px;
    padding-top: 50px;
}

.article-restaurant {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
}

.image-restaurant {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    object-fit: cover;
}

.texte-bouton {
    border-width: 0px;
    width: 200px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.fa-heart {
    overflow: hidden;
    display: flex;
    position:relative;
    overflow: hidden;
    z-index: 1;
    color: black;
    transition: all 1s;
    animation: remplissage-reverse 2s;
}



.fa-heart:hover {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: remplissage 2s;
    font-weight: bold;
}

@keyframes remplissage {
    from{
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: 100;
    }

    to{
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: bold;
    }
}

@keyframes remplissage-reverse {
    from{
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: bold;
    }

    to{
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: 100;

    }
}

.margin-texte-bouton {
    margin-bottom: 0px;
}

.margin-texte-bouton2 {
    margin-top: 0px;
}

.display-bouton-restaurant {
    display: flex;
    justify-content: space-between;
}

.coeur {
    padding-top: 30px;
    padding-right: 20px;
}

.nouveau-color{
    color: var(--vert-fonce);
    font-family: 'Roboto';
    font-weight: 500;
    padding: 5px;
    margin: 0px;
}

.background-nouveau {
    background-color: var(--vert-clair);
    width: fit-content;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.display-nouveau {
    position: absolute;
    top: 10%;
    right: 5%;
}



/* Footer */

.police-footer {
    font-family: 'Shrikhand';
}

.footer {
    background-color: var(--background-footer);
    color: white;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.margin-bottom {
    margin-bottom: 0px;
}

.contact {
    color: #ffffff;
}


/* * * PAGE RESTAURANT * * */

/* Header */

.fa-arrow-left {
    color: var(--background-footer);
    margin-left: -70px;
    padding-right: 80px;
}

.titre-ohmyfood-restaurant {
    display: flex;
    justify-content: center;
}

.image-palette-du-gout {
    background-image: url("/assets/images/Images\ et\ textes\ Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    height: 220px;
    margin-bottom: -20px;
}

.image-les-délices-des-sens {
    background-image: url("/assets/images/Images\ et\ textes\ Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    height: 220px;
    margin-bottom: -20px;
}

.image-la-note-enchantée {
    background-image: url("/assets/images/Images\ et\ textes\ Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    height: 220px;
    margin-bottom: -20px;
}

.image-a-la-francaise {
    background-image: url("/assets/images/Images\ et\ textes\ Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    height: 220px;
    margin-bottom: -20px;
}

/* Main */

.border-main {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 0px;
}

.main-background {
    background-color: #f7f7f7;
}

.titre-coeur {
    display: flex;
    justify-content: space-between;
}

.padding-nom-restaurant {
    padding-left: 10px;
}

.padding-coeur {
    padding-top: 30px;
    padding-right: 15px;
}

.padding-soustitres {
    padding-left: 20px;
    padding-top: 30px;
    border-bottom: var(--vert-clair);
    text-decoration: underline;
    text-decoration-color: var(--vert-clair);
    text-decoration-thickness: 3px;
}

/* Carte plats */
.display-bouton-commande {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bouton-commande {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    visibility: visible;
    animation: affichage-menu 5s forwards;
    opacity: 100%;
    cursor: pointer;
}


.bouton-commande:hover .check{
    visibility: visible;
    animation: menu 1500ms;
}

.bouton-commande:hover .deplacement-prix {
    position: absolute;
    animation: prix 1500ms;
    right: 80px;
}

.deplacement-prix {
    position: absolute;
    animation: prix-reverse 1500ms;
    right: 0%;
}

.b1 {
    animation-delay: 0.2s;
}

.b2 {
    animation-delay: 0.4s;
}

.b3 {
    animation-delay: 0.6s;
}

.b4 {
    animation-delay: 0.8s;
}

.b5 {
    animation-delay: 1s;
}

.b6 {
    animation-delay: 1.2s;
}

.b7 {
    animation-delay: 1.4s;
}

.b8 {
    animation-delay: 1.6;
}

.b9 {
    animation-delay: 1.8s;
}

.b10 {
    animation-delay: 2s;
}



.bouton-decoration {
    border: none;
    background: none;
}



.check {
    position: absolute;
    width: 80px;
    height: 100%;
    right: 0px;
    background-color: var(--vert-clair);
    visibility: hidden;
    margin-left: 20px;
    z-index: -3;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: menu-reverse 1500ms;
    transition: 1500ms;
}

.fa-circle-check{
    display: flex;
    justify-content: center;
    position: relative;
    top: 35px;
    color: white;
}


@keyframes menu {
    from{
        width: 0px;
    }
    to {
        width: 80px;
    }
}

@keyframes menu-reverse {
    from{
        width: 80px;
    }
    to {
        width: 0px;
        opacity: 0%;
    }
}

@keyframes affichage-menu {
    from {
        opacity: 0%;
        transform: translateY(20px);
    }


    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes prix {
    from {
        right: 0%;
    }

    to {
        right: 80px;
    }
}

@keyframes prix-reverse {
    from {
        right: 80px;
    }

    to {
        right: 0%;
    }
}



/*        */

.display-bouton-commander {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bouton-commander {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.bouton-commander:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}


.padding-prix {
    padding-top: 30px;
    padding-right: 20px;
    font-size: medium;
    font-weight: bold;
}

.display-menu {
    font-size: small;
    padding-left: 20px;
    text-align: left;
}

h4 {
    display: flex;
    justify-content: left;
    font-size: larger;
}






/*  *  * Loader *  *  */


.background-body-loader{
    background-color: var(--vert-clair);
    font-family: 'Shrikhand';
    width: 100%;
    height: 250%;
    position: absolute;
    top: 0px;
    animation-name: affichage;
    animation-duration: 3s;
    visibility: hidden;
    z-index: 0;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 100%;
}


.icon-loader {
    position: relative;
    font-size: xx-large;
    color: white;
    animation: loader infinite 0.3s alternate;
}

.l1 {
    animation-delay: 0.05s;
}

.l2 {
    animation-delay: 0.1s;
}

.l3 {
    animation-delay: 0.15s;
}

.l4 {
    animation-delay: 0.25s;
}

.l5 {
    animation-delay: 0.25s;
}

.l6 {
    animation-delay: 0.3s;
}

.l7 {
    animation-delay: 0.35s;
}

.l8 {
    animation-delay: 0.40s;
}

@keyframes loader {
    100% {
        transform: translateY(15px);
}

}

@keyframes affichage {
    from {
        visibility: visible;
        z-index: 1;
    }

    99% {
        visibility: visible;
        z-index: 1;
    }

    to {
        visibility: hidden;
        z-index: 0;
    }
}



@media screen and (min-width: 768px) {

    /* Header */

    .titre-reservez {
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
        left: 35%;
        padding: 0px;
    }

    .background-header {
        justify-content: center;
    }


    /* Main */

    .display-fonctionnement {
        flex-direction: row;
        row-gap: 20px;
        gap: 20px;
        margin: 0px;
    }

    .bouton-fonctionnement-rose {
        width: 100%;
    }

    .bouton-fonctionnement {
        width: 100%;
    }

    .fa-store {
        margin-left: 0px;
        padding-right: 10px;
        padding-left: 5px;
    }

    .fa-list {
        margin-left: 0px;
        padding-right: 10px;
        padding-left: 5px;
    }

    .fa-mobile-screen-button {
        margin-left: 0px;
        padding-right: 10px;
        padding-left: 5px;
    }



    

    .display-restaurant {
        display: flex;
        flex-direction: row;
    }

    .article-restaurant {
        margin-left: 10px;
    }

    .texte-bouton {
        width: 100%;
    }

    /* Footer */

    .footer {
        display: flex;
        flex-direction: row-reverse;
        row-gap: 50px;
        vertical-align: middle;
    }

    .contact {
        display: table;
        justify-content: center;
        vertical-align: middle;
        margin-top: 16px;
        padding-right: 20px;
    }

    .police-footer {
        margin-top: 10px;
        margin-bottom: 16px;
        padding-left: 20px;
        padding-right: 50px;
    }

    .fa-utensils {
        padding-left: 20px;
    }

    .fa-handshake-angle {
        padding-left: 20px;
    }

    /* Loader */

    .background-body-loader {
        height: 140%;
    }

    .container {
        padding-top: 50%;
    }


    /* * * PAGE RESTAURANT * * */



    /* Header */

    .titre-coeur {
        justify-content: center;
    }

    .padding-coeur {
        padding-left: 20px;
    }

    /* Main */

    .main-background {
        width: 90%;
        margin-left: 5%;
    }


}

@media screen and (min-width: 992px){

    /* Header */

    .titre-reservez {
        left: 0%;
        width: 100%;
    }

    .texte-decrivez {
        padding-left: 120px;
    }


    /* Fonctionnement */

    .bouton-fonctionnement {
        width: 80%;
    }

    .bouton-fonctionnement-rose {
        width: 80%;
    }

    .padding-bouton {
        width: 80%;
        padding-bottom: 40px;
    }

    .titre-fonctionnement {
        padding-top: 30px;
    }


    /* * * Restaurant * * */

    /* Images */

    .image-palette-du-gout {
        height: 300px;
        background-position: center;
        margin-bottom: -40px;
    }

    .image-a-la-francaise {
        height: 300px;
        background-position: center;
        margin-bottom: -40px;
    }

    .image-la-note-enchantée{
        height: 300px;
        background-position: center;
        margin-bottom: -40px;
    }

    .image-les-délices-des-sens {
        height: 300px;
        background-position: center;
        margin-bottom: -40px;
    }


}
    
