@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


h1 {
    font-family: 'Shrikhand';
}

body,button {
    font-family: 'Roboto';
}


img {
    width: 100%;
}

:root {
    --vert-clair: #99E2D0;
    --vert-fonce: #008766;
    --bleu-clair: #89C8FA;
    --bleu-fonce: #003A68;
    --violet: #9356DC;
    --rose: #FF79DA;
    --background-footer: #353535;
}


/* * * PAGE PRINCIPALE * * */

/* Header */

.titre-ohmyfood-homepage {
    text-align: center;
}

.localisation {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
}

.fa-location-dot {
    padding-right: 20px;
}

.titre-reservez {
    display: flex;
    justify-content: end;
    text-align: center;
    width: 250px;
    padding-left: 70px;
}

.texte-decrivez {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    width: 80%;
    padding-left: 40px;
}

.background-header {
    background-color: #f7f7f7;
}

.display-bouton-explorer {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

.bouton-explorer {
    border-radius: 25px;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 50px;
    border-width: 0px;
}

/* Fonctionnement */

.titre-fonctionnement {
    padding-left: 20px;
}

.display-fonctionnement {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bouton-fonctionnement {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 70px;
    margin-left: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border-width: 0px;
    font-weight: 500;
    padding-top: 25px;
    background-color: #f7f7f7;
}

.bouton-fonctionnement-rose {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 70px;
    margin-left: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border-width: 0px;
    font-weight: 500;
    padding-top: 25px;
    background-color: #F5EDFF;
}


.chiffre {
    display: flex;
    justify-content: left;
    margin-left: -50px;
}

.padding-bouton {
    padding-bottom: 20px;
}

.fa-mobile-screen-button {
    margin-left: -20px;
    padding-right: 20px;
}

.fa-list {
    margin-left: -20px;
    padding-right: 20px;
}

.fa-store {
    margin-left: -20px;
    padding-right: 20px;
    color: var(--violet);
}

.nombre {
    position: relative;
    top: 0%; right: 25%;
    font-size: large;
    border-style: unset;
    border-radius: 70px;
    background-color: var(--violet);
    color: white;
}

.padding-nombre {
    padding-left: 7px;
    padding-right: 7px;
}




/* Restaurant */

.background-restaurant {
    background-color: #f7f7f7;
}

.padding-titre-restaurant {
    padding-left: 20px;
    padding-top: 50px;
}

.article-restaurant {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.image-restaurant {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    object-fit: cover;
}

.texte-bouton {
    border-width: 0px;
    width: 200px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.fa-heart {
    display: flex;
    width: 100%;
    background-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);;
}

.margin-texte-bouton {
    margin-bottom: 0px;
}

.margin-texte-bouton2 {
    margin-top: 0px;
}

.display-bouton-restaurant {
    display: flex;
    justify-content: space-between;
}

.coeur {
    width: 20px;
    height: 20px;
    padding-top: 35px;
    padding-right: 20px;
}





/* Footer */

.police-footer {
    font-family: 'Shrikhand';
}

.footer {
    background-color: var(--background-footer);
    color: white;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.margin-bottom {
    margin-bottom: 0px;
}

.contact {
    color: #ffffff;
}


/* * * PAGE RESTAURANT * * */

/* Header */

.fa-arrow-left {
    color: var(--background-footer);
    margin-left: -70px;
    padding-right: 80px;
}

.titre-ohmyfood-restaurant {
    display: flex;
    justify-content: center;
}

.image-palette-du-gout {
    background-image: url("/assets/images/Images\ et\ textes\ Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    height: 220px;
    margin-bottom: -20px;
}

.image-les-délices-des-sens {
    background-image: url("/assets/images/Images\ et\ textes\ Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    height: 220px;
    margin-bottom: -20px;
}

.image-la-note-enchantée {
    background-image: url("/assets/images/Images\ et\ textes\ Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    height: 220px;
    margin-bottom: -20px;
}

.image-a-la-francaise {
    background-image: url("/assets/images/Images\ et\ textes\ Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    height: 220px;
    margin-bottom: -20px;
}

/* Main */

.border-main {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 0px;
}

.main-background {
    background-color: #f7f7f7;
}

.titre-coeur {
    display: flex;
    justify-content: space-between;
}

.padding-nom-restaurant {
    padding-left: 10px;
}

.padding-coeur {
    padding-top: 45px;
    padding-right: 10px;
}

.padding-soustitres {
    padding-left: 20px;
    padding-top: 30px;
    border-bottom: var(--vert-clair);
    text-decoration: underline;
    text-decoration-color: var(--vert-clair);
    text-decoration-thickness: 3px;
}

.display-bouton-commande {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bouton-commande {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}



.display-bouton-commander {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bouton-commander {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.bouton-commander:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}


.padding-prix {
    padding-top: 30px;
    padding-right: 20px;
    font-size: medium;
    font-weight: bold;
}

.display-menu {
    font-size: medium;
    padding-left: 20px;
    text-align: left;
}

h4 {
    display: flex;
    justify-content: left;
}


.fa-heart:hover {
    color: var(--violet);
    font-weight: bold;
    animation: remplissage 2s cubic-bezier(0.2, 0.4, 0.6,1);
    transition: all 2s linear 0s;
}


/*  *  * Loader *  *  */


.background-body-loader{
    background-color: var(--vert-clair);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}


.icon-loader {
    font-size: xx-large;
    color: white;
    animation: loader infinite 0.3s alternate;
}
